@{
    ViewBag.Title = "Video Description Home Page";
}

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width" />

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Helper.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js" type="text/javascript"></script>
<script src="/signalr/hubs"></script>
<script src="https://breakdown.blob.core.windows.net/public/amp-vb.plugin.js"></script>

@using VideoDescription.Models

<div class="container" style="padding-top: 24px">

    @*PROGRESS BAR MODAL*@
    <div class="modal fade in" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="i-circle warning"><i class="fa fa-info"></i></div>
                        <div id="result" style="font-size: 1.1em; padding-bottom: 5px">
                            <p id="progressBarParagraph"></p>
                        </div>
                        <div style="width: 30%; margin: 0 auto; display:none;">
                            <div id="progressbar" style="width: 300px; height: 15px"></div>
                            <br />
                        </div>
                        <div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
                            <div id="ProgressMessage" class="progress-bar progress-bar-info" style="width: 100%; border:none;"></div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="cl-mcont">
        <div class="jumbotron" style="background-color:white;">
            <h1>Video Description</h1>
            <p class="lead">Automatic description of Video Indexer thumbnails. This web site grabs the thumbnails from a Video Indexer video, and call Computer Vision to get a description and translate it to another language.</p>
            <div class="row" style="padding-bottom: 16px">
                Video Indexer Account Id : <input type="text" name="VIAcctID" id="VIAcctID" value="@ViewBag.VideoIndexerAccountId" /><br />
            </div>
            <div class="row" style="padding-bottom: 16px">
                Video Indexer Subscription Key : <input type="password" name="VISubKey" id="VISubKey" value="@ViewBag.VideoIndexerSubscriptionKey" /><br />
            </div>
            <div class="row" style="padding-bottom: 16px">
                Video Indexer Location : <input type="text" name="VILocation" id="VILocation" value="@ViewBag.VideoIndexerLocation" /><br />
            </div>
            <div class="row" style="padding-bottom: 16px">
                Translation to another language : <input type="text" name="TranslationLang" id="TranslationLang" value="@ViewBag.TranslationLang" />
                <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/translator/language-support">language codes</a><br />
            </div>
            <div class="row" style="padding-bottom: 16px">
                Video Id : <input type="text" name="VideoId" id="VideoId" value="@ViewBag.VideoId" /><br />
            </div>
            @if (@ViewBag.ErrorMsg != null && @ViewBag.ErrorMsg != "")
            {
                <div class="row" style="padding-bottom: 16px">
                    <div><span style="color:red">Error Message</span> : <span id="ErrorMsg">@ViewBag.ErrorMsg</span><br /></div>
                </div>
            }


            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @*<input type="submit" class="btn btn-primary" value="Process scenes thumbnails" onclick="StartProcess()" />*@
            }
            <div class="row" style="padding-bottom: 16px">
                <button @*onclick="StartProcess()"*@ type="button" value="load" class="btn btn-primary btn-success">Load cache for this video Id</button>
            </div>
            <div class="row" style="padding-bottom: 16px">
                <button @*onclick="StartProcess()"*@ type="button" value="scenes" class="btn btn-primary btn-success">Process Video Indexer Scenes</button>
            </div>
            <div class="row" style="padding-bottom: 16px">
                <button @*onclick="StartProcess()"*@ type="button" value="shots" class="btn btn-primary btn-success">Process Video Indexer Shots (takes more time)</button>
            </div>
            <div class="row" style="padding-bottom: 16px">
                <button @*onclick="StartProcess()"*@ type="button" value="purge" class="btn btn-primary btn-success">Purge cache for this video Id</button>
            </div>

            <script type="text/javascript">

                $(function () {
                    // Reference the auto-generated proxy for the hub.
                    var progress = $.connection.progressHub;
                    console.log(progress);

                    progress.qs = "userId=test";

                    // The callback function returning the connection id from the hub
                    progress.client.signalConnectionId = function (data) {
                        signalConnectionId = data;
                    }


                    // Create a function that the hub can call back to display messages.
                    progress.client.AddProgress = function (message, percentage) {
                        ProgressBarModal("show", message + " " + percentage);
                        $('#ProgressMessage').width(percentage);
                        if (percentage == "100%") {
                            ProgressBarModal();
                        }
                    };
                    var connectionId = null;
                    $.connection.hub.start().done(function () {
                        connectionId = $.connection.hub.id;
                        console.log(connectionId);
                    });

                    //CALLING METHOD IN THE CONTROLLER TO DO SOME WORK
                    //function StartProcess() {
                    $("button").click(function () {
                        $.getJSON("/Home/LongRunningProcess",
                            {
                                mode: $(this).val(),
                                videoId: $("#VideoId").val(),
                                viAcctID: $("#VIAcctID").val(),
                                viSubKey: $("#VISubKey").val(),
                                viLocation: $("#VILocation").val(),
                                translationLang: $("#TranslationLang").val(),
                            },
                            function (data) {
                                if (!data) {
                                    //alert("Success");
                                    // $("form").submit();
                                    location.reload();
                                }
                                else {
                                    alert(data);
                                }
                            });

                    });

                    //}
                });

            </script>


            -------------------------------------------------------
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-12">
                Video Id : @ViewBag.VideoId  <br /><br />

                @if (@ViewBag.VideoId != null && @ViewBag.VideoAccessToken != null)
                {
                    <iframe width="640" height="360" src="https://www.videoindexer.ai/embed/player/@ViewBag.VideoIndexerAccountId/@ViewBag.VideoId/?accessToken=@ViewBag.VideoAccessToken&autoplay=false" frameborder="0" allowfullscreen></iframe>
                }
                <br /><br />

                @if (@ViewBag.Blobs != null)
                {
                    foreach (BlobInfo blob in ViewBag.Blobs)
                    {
                        <div class="row">
                            <a href="@blob.ImageUri" rel="lightbox" title="@blob.Description">
                                <img src="@blob.ThumbnailUri" width="192" title="@blob.Description" style="padding-right: 16px ; padding-bottom: 0px" />
                            </a>
                        </div>
                        <i>@blob.Description</i><br />
                        <i>@blob.DescriptionTranslated</i><br />
                        if (blob.Confidence != null)
                        {
                            <sml>Confidence : @blob.Confidence</sml><br />
                        }
                        if (blob.AdjustedStart != null)
                        {
                            <sml>Time : @blob.AdjustedStart</sml><br />
                        }
                        <br /><br />
                    }
                }
            </div>
        </div>
    </div>

    @section scripts
{
        <script type="text/javascript" language="javascript">
        if ("@TempData["Message"]" !== "") {
            alert("@TempData["Message"]");
        }
        </script>
    }